body, html {
  margin: 0;
  padding: 0;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  animation: fadeIn 1s linear;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 4px 4px 5px 1px rgb(0, 0, 0, 0.1);
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}

.js-title {
  font-size: 40px;
  text-align: center;
}

.js-form input {
  width: 140px;
  height: 40px;
  border: none;
  border-bottom: 1px solid rgb(150, 150, 150);
}

.js-form input::placeholder {
  font-size: 15px;
  transition: .3s;
}

.weather-wrapper {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 12px;
  color: #fff;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
  text-align: center;
}

.js-toDoForm input {
  margin-top: 20px;
  width: 200px;
  height: 50px;
  border: none;
  border-bottom: 1px solid #fff;
  background: none;
  text-align: center;
  bottom: -5px;
  color: #fff;
  font-size: 25px;
}
.js-toDoForm input::placeholder {
  color: #fff;
  font-size: 25px;
}

.js-toDoList {
  color: #fff;
  list-style: none;
  padding: 0;
}

.js-toDoList button {
  border: none;
  background: none;
  cursor: pointer;
}